.container {
    
    font-family: "Times New Roman", Times, serif;
    background-color: lightgoldenrodyellow;
    color: black;
    text-align: center;
}

#mainHeading {
    color: blue;
    text-align: center;
}

.question {
    background-color: yellow;
    font-weight: bold;
}

.choice {
    background-color: lightsalmon;
    
}
