.container {
    
    font-family: "Times New Roman", Times, serif;
    background-color: yellow;
    color: black;
}

#mainHeading {
    color: blue;
    text-align: center;
}

#Q1Box,
#Q2Box,
#Q3Box {
    
}

#A1-1Box,
#A1-2Box,
#A1-3Box,
#A2-1Box,
#A2-2Box,
#A2-3Box,
#A3-1Box,
#A3-2Box,
#A3-3Box {

}

